{% load static %}

<div class="row answer">
        <div class="col-2">
            <img class="img_in_question" src="{% static "img/monkey-d-luffy-gg.gif"%}"></img>
        </div>
        <div class="col-10">
            <div class="answer-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                aliquam voluptatem veniam, est atque cumque eum delectus sint!Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </div>
            <div class="row question-footer">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Correct
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>