{% load static %}

<div class="col-2">
    <img class="img_in_question" src="{% static "img/monkey-d-luffy-gg.gif" %}"></img>
</div>
<div class="col-10">
    <div class="one-question-title">
        <a href="{% url "question" pk=question.id %}">
            {{ question.title }}
        </a>
        {#        <a href="{% url "question" pk=question.title %}">#}
        {#            {{ question.title }}#}
        {#        </a>#}
    </div>
    <div class="one-question-text">
        {{ question.text }}
    </div>
    <div class="row question-footer">
        <div class="col-1"></div>
        <div class="col-2">Tags:</div>
        <div class="col-6">
            {% include "include/standart_tags.html" %}
        </div>
    </div>
    <div class="dark-line"></div>
</div>