{% extends "include/base_signup.html" %}

{% load static %}

{% block content %}
    <div class="row one-question">
        {% include "include/one_question_template.html" %}
    </div>
    {% for answer in page.object_list %}
        {% include "include/answer_template.html" %}
    {% endfor %}
    {% include "include/paginator.html" %}
    <div class="dark-line"></div>
    {% include "include/make_answer.html" %}
{% endblock content %}

{% block side %}
    {% include "include/side.html" %}
{% endblock side %}
